<div class="container">

   <div class="row fila">

      <div class="col-md-6 col-sm-12 contenido-imagen">
         <img src="{{ pathImage }}{{ data.imagen.filename }}" alt="{{ data.imagen.originalname }}" />
      </div>

      <div class="col-md-6 col-sm-12 contenido-detalle">

         <h1>{{ data.nombre }}</h1>
         <p class="detalle-descripcion">{{ data.descripcion }}</p>
         <!-- <p class="detalle-precio">$ {{ data.precio }}</p> -->
         <ng-container *ngIf="data.oferta; else template">
            <p class="detalle-precio" style="font-size:23px; text-decoration: line-through;">Precio: {{ data.precio | currency }}</p>
            <p class="detalle-precio" style="color: red;">Oferta: {{ data.oferta | currency }}</p>
         </ng-container>
         <ng-template #template>
            <p class="detalle-precio">{{ data.precio | currency }}</p>
         </ng-template>
         <mat-card-subtitle>Stock: {{ data.cantidad }}</mat-card-subtitle>

         <div class="detalle-botones">
            <mat-card-subtitle>Categoria: {{ data.categoria.descripcion }}</mat-card-subtitle>
            <mat-card-subtitle>SKU: {{ data.sku }}</mat-card-subtitle>
            <button mat-raised-button color="primary" [routerLink]="['/checkout', data._id]">Comprar</button>

         </div>

      </div>

   </div>

</div>

