.col-imagen-perfil {
   text-align: center;
   img {
      border-radius: 50%;
      height: 17em;
      width: 17em;
      -o-object-fit: contain;
      object-fit: cover;
      padding: 1em;
      background-color: white;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
         0px 1px 1px 0px rgba(0, 0, 0, 0.14),
         0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   }
}

.col-datos-perfil {
   mat-card {
      width: 42em;

      table {
         padding-top: 1em;
         tr {
            td {
               width: 18em;
               padding: 0em 1em;

               label.label-foto-perfil {
                  display: block;
                  color: darkgray;
                  font-size: 11px;
               }
            }
         }
      }
   }
}
