<div class="container">

  <div class="row">
    <div class="col-md-12 titulo">
      <h1>{{titulo}}</h1>
    </div>
    <div class="col-md-12 subtitulo">
      <h3>{{subtitulo}}</h3>
    </div>
  </div>

  <mat-divider></mat-divider>
    
  <div class="row py-4">

    <!-- lado izquierdo -->
    <div class="col-md-3">
      
      <mat-card>
      
        <form class="example-form" [formGroup]="myForm">

          <!-- imagen -->
          <img mat-card-image class="card-form-img" src="{{pathImage}}{{imagenSeleccionada}}">
      
          <!-- id - readonly -->
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="_id" readonly>
            <mat-icon matSuffix>fingerprint</mat-icon>
          </mat-form-field>

          <!-- nombre - oblig -->
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" >
            <mat-error *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').dirty ">
              El campo es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>

          <!-- descripcion - oblig -->
          <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion">
            <mat-error *ngIf="myForm.get('descripcion').hasError('required') && myForm.get('descripcion').dirty">
              El campo es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>

          <!-- categoria -->
          <mat-form-field class="example-full-width" >
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let item of categorias" [value]="item._id" >{{ item.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- precio -->
          <mat-form-field class="example-full-width">
            <mat-label>Precio</mat-label>
            <input type="number" matInput formControlName="precio" >
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>

          <!-- cantidad -->
          <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput formControlName="cantidad" >
          </mat-form-field>
          
          <!-- imagen - upload -->
          <input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)=onChange($event) />
         
          <!-- destacado -->
          <mat-form-field class="example-full-width">
            <input type="number" matInput formControlName="destacado" hidden>
            <mat-slide-toggle input type="number" formControlName="destacado" [(ngModel)]="productosService.selectedProducto.destacado"
              class="example-margin" [color]="'primary'" [checked]="'true'" >
              Destacado
            </mat-slide-toggle>
          </mat-form-field>

          <!-- acciones -->
          <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="alta()">Guardar</button>
            <button mat-stroked-button (click)="resetForm()">Limpiar</button>
          </mat-card-actions>

        </form>
        
      </mat-card>
            
    </div>

    <!-- lado derecha -->
    <div class="col-md-9">
         
      <ngx-datatable
          class="material datatable-data-prod"
          [rows]=dato.docs
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          columnMode="force"
          [externalPaging]="true"
          [count]="dato.totalDocs"
          [limit]="dato.limit"
          (page)="setPage($event)"
          (activate)="onActivate($event)"
          >
          
          <ngx-datatable-column name="Imagen" prop="imagen">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <img class="table-avatar-img" src="{{pathImage}}{{row.imagen.filename}}"> 
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop"></ngx-datatable-column>
      
          <ngx-datatable-column name="Eliminar" prop="id" >
            <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template >
              <a (click)="borrar(value)" class="waves-effect waves-light btn red darken-3"><i class="material-icons">delete</i></a>
            </ng-template>  
          </ngx-datatable-column>
      
        </ngx-datatable>
      
    </div>

  </div> <!--row-->

</div> <!--container-->






