
<div class="container">

   <app-titulo titulo="Quienes Somos"></app-titulo>

   <div class="row py-5 fila-quienes">
      <div class="col-md-4 quienes-imagen animate__animated animate__fadeIn">
         <img src="../../../assets/img/quienesSomos.jpg" alt="Quienes Somos">
      </div>

      <div class="col-md-8 quienes-texto">
         <p>
            <span style="font-weight: 500;">Tiendaloca.com</span> es una empresa con centro de operaciones en la provincia de Buenos Aires, Argentina.
            Y enfoca sus actividades en proporcionar un servicio de ventas de diversos productos.
         </p>
         <p>
            Nuestra empresa se encuentra conformada por un equipo de profesionales en tecnologias de la informacion y especializados en el mundo del e-commerce.
            Contamos con la infraestructura mas innovadora y el conocimiento necesario para cubrir la demanda de productos.
         </p>
         <p>
            Nos destacamos de nuestro competidores, incorporando caracteristicas flexibles de servicios, productos y pagos, innovadores y creativos,
            combinados con un trato personalizado, siempre con actitud y aptitud de nuestro grupo de profesionales para brinda una excelente experiencia a nuestro clientes.
         </p>
      </div>

   </div>

</div>
