// formulario


// tabla --- no anda revisar
.datatable-data-cate {

    .datatable-header-cell {
        text-align: center !important;
    }
    
    // precio
    .datatable-body-cell:nth-child(2){
    text-align: center !important;
    }
    
    // los demas
    .datatable-body-cell:nth-child(3) {
    text-align: right !important;
    }
 

}
