<mat-toolbar color="primary">

   <div class="container">

      <div class="row">

         <div class="col-sm-4 col-xs-12 col-logo">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="inputSideNav.toggle()">
               <mat-icon>menu</mat-icon>
            </button> -->
            <img src="../../../assets/img/logo_blanco.png" alt="tiendaloca.com" routerLink='/'>
         </div>

         <div class="col-sm-7 col-menu">

            <div class="enlaces">
               <button mat-button [routerLink]="button.link" *ngFor="let button of buttonsCommon">{{button.text}}</button>
               <button mat-flat-button [routerLink]="'/login'" *ngIf="!isLoginUser && !isLoginAdmin">Login</button>
            </div>

         </div>

         <div class="col-sm-1 col-avatar">
            <ng-container *ngIf="isLoginAdmin || isLoginUser">
               <img *ngIf="usuario" src="{{pathImage}}{{usuario.imagen.filename}}" (click)="inputSideNav.toggle()">
            </ng-container>
         </div>

      </div>

   </div>

</mat-toolbar>

