<div class="container" style="margin: 20px 0 100px 0">

    <div class="row">
      <h1 class="titulo">Ventas</h1>
    </div>
  
    <div class="row">
  
      <!-- lado izquierdo -->
      <div class="col-md-3" style="margin-top: 10px;">
        
        <mat-card>
        
          <form class="example-form" [formGroup]="myForm">
  
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  
            <!-- id -->
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput formControlName="_id" [(ngModel)]="ventasService.selectedVenta._id" disabled>
            </mat-form-field>
  
            <!-- fecha - oblig -->
            <mat-form-field class="example-full-width">
              <mat-label>fecha</mat-label>
              <input type="date" matInput formControlName="fecha" [(ngModel)]="ventasService.selectedVenta.fecha" >
              <mat-error *ngIf="myForm.get('fecha').hasError('required') && myForm.get('fecha').dirty ">
                El campo es <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>

            <!-- usuario select-->
            <mat-form-field class="example-full-width" >
              <mat-label>Usuario</mat-label>
              <mat-select formControlName="usuario" [(ngModel)]="ventasService.selectedVenta.usuario._id">
                <mat-option *ngFor="let item of usuarios" [value]="item._id" >{{ item.usuario }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- producto select -->
            <mat-form-field class="example-full-width" >
              <mat-label>producto</mat-label>
              <mat-select formControlName="productos" [(ngModel)]="ventasService.selectedVenta.productos._id">
                <mat-option *ngFor="let item of productos" [value]="item._id" >{{ item.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- total - oblig -->
            <mat-form-field class="example-full-width">
              <mat-label>total</mat-label>
              <input type="number" matInput formControlName="total" [(ngModel)]="ventasService.selectedVenta.total" >
              <mat-error *ngIf="myForm.get('total').hasError('required') && myForm.get('total').dirty ">
                El campo es <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>

            <!-- estado -->
            <mat-form-field class="example-full-width">
              <input type="number" matInput formControlName="estado" [(ngModel)]="ventasService.selectedVenta.estado" hidden>
              <mat-slide-toggle formControlName="estado" [(ngModel)]="ventasService.selectedVenta.estado"
                class="example-margin"
                [color]="'primary'" >
                Pagado
              </mat-slide-toggle>
            </mat-form-field>

            <mat-card-actions>
              <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="alta()">Guardar</button>
              <button mat-button (click)="resetForm()">Limpiar</button>
            </mat-card-actions>
  
          </form>
          
        </mat-card>
              
      </div>
  
      <!-- lado derecha -->
      <div class="col-md-9">
  
           
            <ngx-datatable
                class="material"
                [rows]=dato.docs
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                columnMode="force"
                [externalPaging]="true"
                [count]="dato.totalDocs"
                [limit]="dato.limit"
                (page)="setPage($event)"
                (activate)="modificar($event)"
                >
                <ngx-datatable-column name="Imagen" prop="id" >
                  <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
                    <img class="img-thumbnail" style="height: auto; width: 100px;" src="https://picsum.photos/200/200" alt="Card image cap"/>
                  </ng-template>  
                </ngx-datatable-column>
                
                <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" ></ngx-datatable-column>
            
                <ngx-datatable-column name="Acciones" prop="id" >
                  <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
                    <a class="waves-effect waves-light btn"><i class="material-icons">edit</i></a>
                    <a (click)="borrar(value)" class="waves-effect waves-light btn red darken-3"><i class="material-icons">delete</i></a>
                  </ng-template>  
                </ngx-datatable-column>
            
              </ngx-datatable>
        
      </div>
  
  
    </div> <!--row-->
  
  </div> <!--container-->
  
  
  
  
  
  
  