<div class="container">

   <app-titulo titulo="Ventas" subtitulo="Aqui puede ver todas las ventas realizadas"></app-titulo>

   <div class="row py-4">

      <!-- lado izquierdo -->
      <div class="col-md-3" style="margin-top: 10px;">

        <mat-card>

          <form class="example-form" [formGroup]="myForm">

            <!-- imagen -->
            <img mat-card-image src="{{pathImage}}{{imagenSeleccionada}}">

            <!-- id - readonly -->
            <mat-form-field class="example-full-width">
               <mat-label>ID</mat-label>
               <input matInput formControlName="_id" readonly>
               <mat-icon matSuffix>fingerprint</mat-icon>
            </mat-form-field>

            <!-- fecha - oblig -->
            <mat-form-field class="example-full-width">
              <mat-label>fecha</mat-label>
              <input type="date" matInput formControlName="fecha">
              <mat-error *ngIf="myForm.get('fecha').hasError('required') && myForm.get('fecha').dirty ">
                El campo es <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>

            <!-- usuario -->
            <mat-form-field class="example-full-width" >
              <mat-label>Usuario</mat-label>
             <input matInput formControlName="usuario" readonly="true">
            </mat-form-field>

            <!-- producto -->
            <mat-form-field class="example-full-width" >
              <mat-label>Producto</mat-label>
             <input matInput formControlName="producto" readonly="true">
            </mat-form-field>

            <!-- cantidad -->
            <mat-form-field class="example-full-width">
               <mat-label>Cantidad</mat-label>
               <input type="number" matInput formControlName="cantidad" >
            </mat-form-field>

            <!-- total - oblig -->
            <mat-form-field class="example-full-width">
              <mat-label>Total $$</mat-label>
              <input type="number" matInput formControlName="total">
              <mat-error *ngIf="myForm.get('total').hasError('required') && myForm.get('total').dirty ">
                El campo es <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>

            <!-- medio de pago - select -->
            <mat-form-field class="example-full-width" >
               <mat-label>Medio de Pago</mat-label>
               <mat-select formControlName="medio">
                 <mat-option [value]= "1">Efectivo</mat-option>
                 <mat-option [value]= "2">Mercado Pago</mat-option>
               </mat-select>
             </mat-form-field>

            <!-- estado -->
            <mat-form-field class="example-full-width">
              <input type="number" matInput formControlName="estado" hidden>
              <mat-slide-toggle formControlName="estado" class="example-margin" [color]="'primary'" >
                Pagado
              </mat-slide-toggle>
            </mat-form-field>

            <!-- imagen - upload -->
            <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)=onChange($event) /> -->

            <mat-card-actions align="center">
              <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="alta()">Modificar</button>
              <button mat-button (click)="resetForm()">Limpiar</button>
            </mat-card-actions>

          </form>

        </mat-card>

      </div>

      <!-- lado derecha -->
      <div class="col-md-9">

         <ngx-datatable
            class="material"
            [rows]= dato.docs
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            columnMode="force"
            [externalPaging]="true"
            [count]="dato.totalDocs"
            [limit]="dato.limit"

            (page)="setPage($event)"
            (activate)="onActivate($event)"
            >

            <ngx-datatable-column name="Imagen" prop="imagen">
               <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <img class="imagen-tabla-ventas" src="{{pathImage}}{{row.producto.imagen.filename}}">
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Fecha" prop="fecha">
               <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.fecha | date }}
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" ></ngx-datatable-column>

            <ngx-datatable-column name="Medio" prop="medio">
               <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="row.medio == 1">Efectivo</span>
                  <span *ngIf="row.medio == 2">Mercado Pago</span>
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Estado" prop="estado">
               <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span class="no-pagado" *ngIf="row.estado == 0">NoPago</span>
                  <span class="pagado" *ngIf="row.estado == 1">Pagado</span>
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acciones" prop="id" >
               <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
                  <!-- <a class="waves-effect waves-light btn"><i class="material-icons">edit</i></a> -->
                  <a (click)="borrar(value)" class="waves-effect waves-light btn red darken-3"><i class="material-icons">delete</i></a>
               </ng-template>
            </ngx-datatable-column>

         </ngx-datatable>

      </div>

    </div> <!--row-->

  </div> <!--container-->






