@import "../../../variables";


.example-card {
    max-width: 300px;
    margin-bottom: 50px;

    img {
        height: 200px;
        object-fit: cover;
    }
  }

  .example-card:hover{
    box-shadow: $sombreado-medio;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .gallery-li{
       display: -webkit-flex;
       display: flex;
    }


 }
