
$sombreado-navbar: 0px 7px 13px -6px rgba(51,51,51,1);

$sombreado-fuerte: 0px 7px 13px -6px rgba(51,51,51,1);

$sombreado-medio: 0px 0px 18px 2px rgba(36,36,36,0.46);


$titulo-color: black;
$titulo-padding: 20px ;