/* You can add global styles to this file, and also import other style files */
@import "./variables";


html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F5F5;
}


// // FIX DROPDOWNLIST navmenu
// .mat-menu-panel, #mat-menu-panel-0 {
//   overflow-x: hidden  !important;
// }

// titulos de las paginas
.titulo h1{
  padding: 50px 10px 0px 10px;
  font-weight: 300;
  font-size: 38px;

}

.subtitulo h3 {
  padding: 0 10px 0px 10px;
  color: gray;
  font-weight: 200;
}

//FORMS
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: 75px;
}



// INPUT FILE
input[type="file"] {
  //border: 1px solid #b5bcc7;
  width: 220px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 20px;
  direction: unset;
}

//form productos: img
// .card-form-img{
//   height: 180px;
//   object-fit: cover;
// }

//IMG CARD
.card-home-img {
  object-fit: cover;
}

// AVATAR TABLE IMG
.table-avatar-img{
   height: 70px;
   width: 80px;
   object-fit: cover;
}

// NGX DATATABLE
.ngx-datatable.material{
   box-shadow:  $sombreado-card;
   border-radius: 4px;
}

// tablas de productos, categoria, etc
.datatable-data-prod {

   //encabezados
   .datatable-header-cell {
      text-align: center !important;
   }

   // precio
   .datatable-body-cell:nth-child(4){
      text-align: right !important;
   }

   // los demas
   .datatable-body-cell:nth-child(5),
   .datatable-body-cell:nth-child(7),
   .datatable-body-cell:nth-child(8) {
      text-align: center !important;
   }

}

.color-popup-ok {
   background-color: darkseagreen;
   color: white;
   font-size: 16px;
}

.color-popup-error {
   background-color: salmon;
   color: white;
   font-size: 16px;
}









// PADDING Y
.py-1{
  padding: 10px 0;
}

.py-2{
  padding: 20px 0;
}

.py-3{
  padding: 30px 0;
}

.py-4{
  padding: 40px 0;
}

.py-5{
  padding: 50px 0;
}

//PADDING X
.px-1{
  padding: 0 10px;
}

.px-2{
  padding: 0 20px;
}

.px-3{
  padding: 0 30px;
}

.px-4{
  padding: 0 40px;
}

.px-5{
  padding: 0 50px;
}

////////// MARGIN Y
.my-1{
   margin: 10px 0;
 }

 .my-2{
   margin: 20px 0;
 }

 .my-3{
   margin: 30px 0;
 }

 .my-4{
   margin: 40px 0;
 }

 .my-5{
   margin: 50px 0;
 }

 //MARGIN X
 .mx-1{
   margin: 0 10px;
 }

 .mx-2{
   margin: 0 20px;
 }

 .mx-3{
   margin: 0 30px;
 }

 .mx-4{
   margin: 0 40px;
 }

 .mx-5{
   margin: 0 50px;
 }
