@import "../../../variables";

.mat-form-field {
    margin-top: 16px;
  }

.form-checkout {
  box-shadow: $sombreado-card ;
}


html {
    scroll-behavior: smooth;
}

.card-form-img{
   object-fit: cover;
   height: 250px;
   width: 50%;
}

table.tabla-pedido {
    border-collapse: collapse;
    tr {
         height: 50px;
        td{
             padding: 10px;
        }
    }
}

table.tabla-usuario {
   border-collapse: collapse;
   tr {
        height: 50px;
       td{
            padding: 10px;
       }
   }
}

.color-celda-01{
    background-color: #F5F5F5;
}

.color-celda-02{
    background-color: #fefefefe;
}


.example-radio-group {
   display: flex;
   flex-direction: column;
   margin: 15px 0;
 }

 .example-radio-button {
   margin: 5px;
 }


 .filaMedioDePago {

   .colMedioDePago{
      text-align: center;
      float: left;

      mat-card:hover {
         background-color: red;
      }



   }



 }
