.footer {
   margin-top: 100px;
   height: 21em;
   background-color: white;
   display: flex;
   align-items: center;

   .logo-footer {
      img {
         width: 18em;
      }
      p {
         color: dimgray;
         font-size: 12px;
      }
   }

   .iconos-redes-footer {
      text-align: center;
      img {
         width: 50px;
         margin: 0 7px;
      }
   }
}
