.footer{
    margin-top: 100px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    
    .row{
        width: 500px;
        height: 50px;
        margin: 0 auto;

        p{
            text-align: center;
            height: 100%;
            width: 100%;
            color: gray;
        }
    }
}